[tool.poetry]
name = "pxblat"
version = "0.1.0"
description = "A native python binding for blat suit"
authors = ["Yangyang Li <yangyang.li@northwestern.edu>"]
license = "MIT"
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.9"
loguru = "^0.7.0"
pybind11 = "^2.10.4"
setuptools = "^67.7.2"
rich = "^13.3.5"
pysimdjson = "^5.0.2"
biopython = "^1.81"
typer = "^0.9.0"


[tool.ruff]
line-length = 120
fix = true
extend-ignore = ["E501"]
select = [
  # pyflakes
  "F",
  # pycodestyle
  "E", "W",
  # flake8-2020
  "YTT",
  # flake8-bugbear
  "B",
  # flake8-quotes
  "Q",
  # flake8-debugger
  "T10",
  # pylint
  "PLC", "PLE", "PLR", "PLW",
  # misc lints
  "PIE",
  # flake8-pyi
  "PYI",
  # tidy imports
  "TID",
  # implicit string concatenation
  "ISC",
  # type-checking imports
  "TCH",
  # comprehensions
  "C4",
]
exclude = ["src/pxblat/extc/__init__.pyi", "src/pxblat/__init__.py"]

[tool.ruff.per-file-ignores]
"src/pxblat/extc/__init__.py" = ["F405", "F403"]
"src/pxblat/server/basic.py" = ["PLR0913"]
"src/pxblat/server/server.py" = ["PLR0913"]


[tool.poetry.group.dev.dependencies]
pytest = "^7.3.1"
pytest-sugar = "^0.9.7"
black = "^23.3.0"
ruff = "^0.0.263"
ipython = "^8.13.1"
pybind11-stubgen = "^0.13.0"
invoke = "^2.1.1"
ipdb = "^0.13.13"

[tool.poetry.build]
script = "build.py"
generate-setup-file=true

[build-system]
requires = ["pybind11>2.9.1", "poetry-core>=1.2.0", "setuptools>=40.6.0"]
build-backend = "poetry.core.masonry.api"
