@font-face {
  font-family: "Cascadia Code";
  src: url("CascadiaCode/woff2/static/CascadiaCode-Regular.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Cascadia Code";
  src: url("CascadiaCode/woff2/static/CascadiaCode-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Cascadia Code";
  src: url("CascadiaCode/woff2/static/CascadiaCode-Italic.woff2")
    format("woff2");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Cascadia Code";
  src: url("CascadiaCode/woff2/static/CascadiaCode-BoldItalic.woff2")
    format("woff2");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Cascadia Code";
  src: url("CascadiaCode/woff2/static/CascadiaCode-ExtraLight.woff2")
    format("woff2");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Cascadia Code";
  src: url("CascadiaCode/woff2/static/CascadiaCode-ExtraLightItalic.woff2")
    format("woff2");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Cascadia Code";
  src: url("CascadiaCode/woff2/static/CascadiaCode-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Cascadia Code";
  src: url("CascadiaCode/woff2/static/CascadiaCode-LightItalic.woff2")
    format("woff2");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Cascadia Code";
  src: url("CascadiaCode/woff2/static/CascadiaCode-SemiBold.woff2")
    format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Cascadia Code";
  src: url("CascadiaCode/woff2/static/CascadiaCode-SemiBoldItalic.woff2")
    format("woff2");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Cascadia Code";
  src: url("CascadiaCode/woff2/static/CascadiaCode-SemiLight.woff2")
    format("woff2");
  font-weight: 350;
  font-style: normal;
}

@font-face {
  font-family: "Cascadia Code";
  src: url("CascadiaCode/woff2/static/CascadiaCode-SemiLightItalic.woff2")
    format("woff2");
  font-weight: 350;
  font-style: italic;
}

@font-face {
  font-family: "Cascadia Code PL";
  src: url("CascadiaCode/woff2/static/CascadiaCodePL-Regular.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Cascadia Code PL";
  src: url("CascadiaCode/woff2/static/CascadiaCodePL-Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Cascadia Code PL";
  src: url("CascadiaCode/woff2/static/CascadiaCodePL-Italic.woff2")
    format("woff2");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Cascadia Code PL";
  src: url("CascadiaCode/woff2/static/CascadiaCodePL-BoldItalic.woff2")
    format("woff2");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Cascadia Mono";
  src: url("CascadiaCode/woff2/static/CascadiaMono-Regular.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Cascadia Mono";
  src: url("CascadiaCode/woff2/static/CascadiaMono-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Cascadia Mono";
  src: url("CascadiaCode/woff2/static/CascadiaMono-Italic.woff2")
    format("woff2");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Cascadia Mono";
  src: url("CascadiaCode/woff2/static/CascadiaMono-BoldItalic.woff2")
    format("woff2");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Cascadia Mono";
  src: url("CascadiaCode/woff2/static/CascadiaMono-ExtraLight.woff2")
    format("woff2");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Cascadia Mono";
  src: url("CascadiaCode/woff2/static/CascadiaMono-ExtraLightItalic.woff2")
    format("woff2");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Cascadia Mono";
  src: url("CascadiaCode/woff2/static/CascadiaMono-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Cascadia Mono";
  src: url("CascadiaCode/woff2/static/CascadiaMono-LightItalic.woff2")
    format("woff2");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Cascadia Mono";
  src: url("CascadiaCode/woff2/static/CascadiaMono-SemiBold.woff2")
    format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Cascadia Mono";
  src: url("CascadiaCode/woff2/static/CascadiaMono-SemiBoldItalic.woff2")
    format("woff2");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Cascadia Mono";
  src: url("CascadiaCode/woff2/static/CascadiaMono-SemiLight.woff2")
    format("woff2");
  font-weight: 350;
  font-style: normal;
}

@font-face {
  font-family: "Cascadia Mono";
  src: url("CascadiaCode/woff2/static/CascadiaMono-SemiLightItalic.woff2")
    format("woff2");
  font-weight: 350;
  font-style: italic;
}

@font-face {
  font-family: "Cascadia Mono PL";
  src: url("CascadiaCode/woff2/static/CascadiaMonoPL-Regular.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Cascadia Mono PL";
  src: url("CascadiaCode/woff2/static/CascadiaMonoPL-Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Cascadia Mono PL";
  src: url("CascadiaCode/woff2/static/CascadiaMonoPL-Italic.woff2")
    format("woff2");
  font-weight: 400;
  font-style: italic;
}
